.task-item-complete__buttons {
    height: 40px;
}

.task-item-complete .task-item-complete__text {
    color: gray;
    text-decoration: line-through;
} 

.list-group-item {
    background-color: #e9deed;
    border-width: 1px;
}