
.task-item-complete .task-item__text {
    color: gray;
    text-decoration: line-through;
}

.task-item__buttons {
    height: 40px;
}

.list-group-item {
    background-color: #e9deed;
    border-width: 1px;
}

.task-item__buttons, .task-item-complete__buttons {
    padding: 0px;
  }