.task-item {
    /* background-color: #e5d8e9; */
}


.task-item__buttons {
    height: 40px;
}

.list-group-item {
    background-color: #e9deed;
}

/* .task-item__text {
    margin: 0px;
}

.list-group-item {
    padding: 0px;
} */